{% load static %}
<html>
   <head>
       <title>Django Blog</title>
       <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">
   </head>
   <body>
      <header>
          <div class="nav-left">
             <h1><a href="{% url 'home' %}">Home</a> | <a href="{%url 'about'%}">About</a> | <a href="{%url 'Services'%}">Services</a>
               | <a href="{%url 'Category'%}">Category</a> | <a href="{%url 'Contact_us'%}">Contact us</a>
             </h1>
          </div>
          <div class="nav-right">
              <a href="{% url 'post_new' %}">+ New Blog Post</a>
          </div>
      </header>
      {% if user.is_authenticated %}
         <p>Hi {{user.username }}!</p>
         <a href="{% url 'logout' %}"> Log out </a>
      {% else %}
         <p>You are not logged in.</p>
         <a href="{% url 'login' %}"> Log In</a>
      {% endif %}
      <div>
        {% block content %}
        {% endblock content %}
      </div>
   </body>
</html>